{{#if resume.skills.length}}
    <div class="skills-container">
            {{> title value="Professional Skills"}}
            {{#each resume.skills}}
            <section class="container"
                {{#if keywords.length}}
                    <ul class="minimal">
                        {{#each keywords}}
                            <li><h6>{{.}}</h6></li>
                        {{/each}}
                    </ul>
                {{/if}}
            </section>
        {{/each}}
    </div>
{{/if}}