{{#if resume.skills.length}}
<div class="container skills-container">
    {{> title value="Professional Skills"}}
    
    <section id="skills" class="row">
        <div class="col-sm-8">
            {{#each resume.skills}}
            <div class="item">
                {{#if name}}
                <h3 class="name">{{name}}</h3>
                {{/if}}
                {{#if level}}
                <div class="level">
                    <p><em>{{level}}</em></p>
                </div>
                {{/if}}
                {{#if keywords.length}}
                <ul class="keywords">
                    {{#each keywords}}
                    <li>{{.}}</li>
                    {{/each}}
                </ul>
                {{/if}}
            </div>
            {{/each}}
        </div>
    </section>
</div>
{{/if}}